asgiref==3.7.2
awsebcli==3.20.10
black
blessed==1.20.0
boto3==1.28.85
botocore==1.31.85
cement==2.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
coverage==6.5.0
coveralls==3.3.1
cryptography==42.0.4
distlib==0.3.8
Django
docopt==0.6.2
filelock
flake8
idna==3.6
jmespath==1.0.1
mccabe==0.7.0
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python
mysqlclient
numpy
packaging
pandas
pathspec
pipenv
platformdirs
pycodestyle
pycparser
pyflakes
PyJWT
PyMySQL
python-dateutil
pytz
PyYAML
requests
s3transfer
semantic-version
setuptools
six
sqlparse
termcolor
tzdata
urllib3
virtualenv
wcwidth
